

#logoContainer{
    width: fit-content;
    height: 400px;
}
#logoContainer img{
    width: 400px;
}

#menu{
    width: 100%;
    max-width: 800px;
    display: flex;
    text-align: center;
}

#menu #imgContainer_1, #imgContainer_2, #imgContainer_3, #imgContainer_4{
    width: auto;
    display: inline;
    max-width: 100px;
    height: 100px;
    margin: auto;
    padding-bottom: 200px;
}

#menu #imgContainer_1:hover, #imgContainer_2:hover, #imgContainer_3:hover, #imgContainer_4:hover > a{
    color: red;
    

}
#menu #imgContainer_1, #imgContainer_2, #imgContainer_3, #imgContainer_4 img{
    width: 100%;
}

#images_1, #images_2, #images_3{
    width: 100%;
}

form{
    background-color: rgba(239, 253, 255, 0.925);
    width: 100%;
    max-width: 500px;
    text-align: right;
    height: 100px;
}



